<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('about') }}" class="navbar-item">About</a>
            <a href="{{ url_for('penyu') }}" class="navbar-item">Penyu</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer class="py-2 border-top">
                <p class="mb-0 text-center">
                    © Tengku Surya A | 2022 | All Rights Reserved
                </p>
              </footer>
        </div>
    </body>
</html>